@use '../../../styles/mixins' as mixins;
@use './variables' as variables;
@use '../../../styles/placeholders';

.handle {
  @extend %ios-tap-highlight-color-transparent;
  @extend %hide-chrome-browser-outline;

  position: absolute;
  // https://stackoverflow.com/questions/30552307/ios-safari-buttons-not-perfect-circles
  padding: 0;
  width: variables.$sliderHandleSize;
  height: variables.$sliderHandleSize;

  transform: translate(-50%, 0%);
  touch-action: pan-x;

  &.vertical {
    transform: translate(0%, -50%);
    touch-action: pan-y;
  }

  background-color: variables.$sliderHandleBackground;

  transition-property: border;
  transition-duration: 0.2s;

  border-radius: 50%;
  border-style: solid;
  border-width: 0.125rem;
  border-color: variables.$sliderHandleBorder;

  overflow: visible;
  z-index: 3;
  user-select: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}
