@use './variables' as variables;

.slider-track {
  position: relative;
  display: flex;
  align-items: center;
  height: variables.$sliderTrackHeight;
  background: variables.$sliderTrackBackground;

  border-radius: variables.$sliderBorderRadius;
  user-select: none;
  z-index: 0;

  &.disabled {
    opacity: 0.75;
  }
}
