@use './variables' as variables;

.slider-range {
  position: absolute;
  height: 0.5rem;
  margin: 0;
  border-radius: variables.$sliderBorderRadius;
  background: variables.$sliderRangeBackground;

  @each $kind in variables.$rothkoKinds {
    &--#{$kind} {
      background: variables.safeGetTheme($kind);
    }
  }

  overflow: hidden;
  user-select: none;
  z-index: 2;

  &.disabled {
    opacity: 0.75;
  }
}
