@forward '../../../styles/variables';

$tabsBorder: var(--rothko-tabs-border, #000);
$tabsBackground: var(--rothko-tabs-background, transparent);
$tabsForeground: var(--rothko-tabs-foreground, var(--rothko-foreground, #000));
