@forward '../../../styles/variables';

$switchBorder: var(--rothko-switch-border, #d9d9d9);
$switchBackground: var(--rothko-switch-background, #dee7f5);
$switchSelectedBackground: var(--rothko-switch-background-focus, #3e4e94);
$switchHandleBackground: var(--rothko-switch-handle-background, #fff);
