@forward '../../styles/variables';

$bodyColor: var(--rothko-typography-body-color, #000);
$headingColor: var(--rothko-typography-heading-color, $bodyColor);
$codeColor: var(--rothko-typography-code-color, $bodyColor);

$regularFont: var(--rothko-font-family-regular);
$boldFont: var(--rothko-font-family-bold, $regularFont);
$lightFont: var(--rothko-font-family-light, $regularFont);
$italicFont: var(--rothko-font-family-italic, $regularFont);
$headingFont: var(--rothko-font-family-heading, $regularFont);
$codeFont: var(--rothko-font-family-code, $regularFont);

$bodyFontSize: var(--rothko-font-size-body, 1rem);
$bodyLineHeight: var(--rothko-line-height-body, 1.5rem);

$bodySmallFontSize: var(--rothko-font-size-body-small, 0.875rem);
$bodySmallLineHeight: var(--rothko-line-height-body-small, 1.25rem);

$captionFontSize: var(--rothko-font-size-caption, 0.75rem);
$captionLineHeight: var(--rothko-line-height-caption, 0.9375rem);

$labelFontSize: var(--rothko-font-size-label, 0.75rem);
$labelLineHeight: var(--rothko-line-height-label, 0.9375rem);

$codeFontSize: var(--rothko-font-size-code, 1rem);
$codeLineHeight: var(--rothko-line-height-code, 1.25rem);

$h1FontSize: var(--rothko-font-size-h1, 2.5rem);
$h1LineHeight: var(--rothko-line-height-h1, 3.25rem);

$h2FontSize: var(--rothko-font-size-h2, 2.25rem);
$h2LineHeight: var(--rothko-line-height-h2, 2.75rem);

$h3FontSize: var(--rothko-font-size-h3, 2rem);
$h3LineHeight: var(--rothko-line-height-h3, 2.5rem);

$h4FontSize: var(--rothko-font-size-h4, 1.75rem);
$h4LineHeight: var(--rothko-line-height-h4, 2.25rem);

$h5FontSize: var(--rothko-font-size-h5, 1.5rem);
$h5LineHeight: var(--rothko-line-height-h5, 2rem);

$h6FontSize: var(--rothko-font-size-h6, 1.25rem);
$h6LineHeight: var(--rothko-line-height-h6, 1.75rem);
