@use './variables' as variables;
@use './mixins' as mixins;

.typography {
  margin: 0.125rem 0;
}

.typography__paragraph {
  color: variables.$bodyColor;

  @include mixins.withKind();
  @include mixins.baseParagraphStyle();
  @include mixins.bodySizeStyle();

  &__small {
    @include mixins.bodySmallSizeStyle();
  }

  &__label {
    @include mixins.labelSizeStyle();
    @include mixins.boldFontStyle();
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
  }

  &__caption {
    @include mixins.captionSizeStyle();
  }
}

.typography__heading {
  color: variables.$headingColor;

  @include mixins.withKind();
  @include mixins.baseHeadingStyle();

  &__h1 {
    @include mixins.h1SizeStyle();
  }

  &__h2 {
    @include mixins.h2SizeStyle();
  }

  &__h3 {
    @include mixins.h3SizeStyle();
  }

  &__h4 {
    @include mixins.h4SizeStyle();
  }

  &__h5 {
    @include mixins.h5SizeStyle();
  }

  &__h6 {
    @include mixins.h6SizeStyle();
  }
}

.typography__code {
  color: variables.$codeColor;

  @include mixins.withKind();
  @include mixins.baseCodeStyle();
  @include mixins.codeSizeStyle();

  white-space: pre-wrap;
  padding: 1px 0 1px 0.25rem;
  background-color: rgba(153, 161, 179, 0.1);
  border-radius: 0.375rem;
}
