@use './mixins' as mixins;
@use '../Typography/mixins' as typographyMixins;
@use './variables' as variables;

.link {
  @include mixins.baseLinkStyle();
  @include typographyMixins.bodySizeStyle();

  @each $kind in variables.$rothkoKinds {
    &--#{$kind} {
      color: variables.safeGetTheme($kind);
    }
  }
}

.link.link-small {
  @include typographyMixins.bodySmallSizeStyle();
}

.link__underline-none {
  @include mixins.linkUnderlineNone();
}

.link__underline-hover {
  @include mixins.linkUnderlineHover();
}

.link__underline-always {
  @include mixins.linkUnderlineAlways();
}

.link.link-button--disabled {
  cursor: not-allowed;
  text-decoration: none;
  opacity: 0.7;
}
