@use './variables' as variables;
@use '../../../styles/mixins' as mixins;

%accordion-disabled {
  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

// container for all panels
.accordion {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &.compact {
    gap: 0;
  }
}

// container for single panel
.accordion__panel {
  background-color: variables.$accordionBackgroundColor;
  border: 1px solid variables.$accordionBackgroundColor;
  border-radius: variables.$accordionPanelBorderRadius;

  &.bordered {
    border-color: variables.$accordionBorderColor;

    @each $kind in variables.$rothkoKinds {
      &.#{$kind} {
        border-color: variables.safeGetTheme($kind);
      }
    }
  }

  &.compact {
    border-radius: 0;
    &:last-of-type {
      border-bottom-left-radius: variables.$accordionPanelBorderRadius;
      border-bottom-right-radius: variables.$accordionPanelBorderRadius;
    }
    &:first-of-type {
      border-top-left-radius: variables.$accordionPanelBorderRadius;
      border-top-right-radius: variables.$accordionPanelBorderRadius;
    }
    &:not(:last-of-type) {
      border-bottom: none;
    }
  }

  &.disabled {
    @extend %accordion-disabled;
  }
}

@mixin phantomButtonStyle() {
  -webkit-tap-highlight-color: transparent;
  // prevent double tap zoom on mobile
  touch-action: manipulation;
  user-select: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

// phantom button
.accordion__panel__label {
  @include phantomButtonStyle;

  user-select: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  padding: variables.$accordionVerticalPadding variables.$accordionHorizontalPadding;
  cursor: pointer;

  &:disabled,
  &.disabled {
    @extend %accordion-disabled;
  }

  &:focus-visible {
    outline: 1px solid variables.$accordionBorderColor;
  }
}

.accordion__panel__content {
  padding: 0 variables.$accordionHorizontalPadding variables.$accordionVerticalPadding;
}
