.hoverButton {
  display: flex;

  &:hover {
    @media screen and (min-width: 750px) {
      opacity: 0.8;
    }
  }
}

.navButton {
  -webkit-tap-highlight-color: transparent;
  /* Use font smoothing to make text more readable + lighter */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--rothko-font-regular);
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: var(--rothko-button-border-radius);
  padding: 0.5rem 1rem;
  height: 100%;
  background: black;
  color: white;
}
