.multi-select-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.multi-select-label {
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  align-items: center;

  padding: 0.0625rem 0.3rem 0.0625rem 0.5rem;

  background: var(--rothko-dropdown-multiselect-background, #fff);
  border: 1px solid var(--rothko-dropdown-multiselect-border, #000);

  border-radius: 3.25rem;
  cursor: initial;

  & > p {
    margin: 0;
    user-select: none;
    color: var(--rothko-dropdown-multiselect-foreground, #000);
  }
}

.nested-button-container {
  padding-left: 0.5rem;
  cursor: default;

  &.button-reverse {
    padding-bottom: 0.5rem;
    padding-top: 0.125rem;
  }

  &:not(.button-reverse) {
    padding-top: 0.5rem;
    padding-bottom: 0.125rem;
  }
}

.nested-dropdown-category-title {
  padding-left: 1rem;
  padding-right: 1rem;

  opacity: 0.75;
  cursor: default;

  &.title-reverse {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  &:not(.title-reverse) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.nested-option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
