@use '../../styles/variables' as variables;

$defaultColor: var(--rothko-foreground, #000);

$dimensionSizeMap: (
  'xs': 0.875rem,
  's': 0.875rem,
  'm': 2.25rem,
  'l': 5rem,
);

$borderWidthSizeMap: (
  'xs': 0.125rem,
  's': 0.125rem,
  'm': 0.5rem,
  'l': 1rem,
);

.inline-spinner {
  display: inline-block;
  border-radius: 50%;
  text-indent: -9999em;

  border-top-color: $defaultColor;
  border-right-color: $defaultColor;
  border-bottom-color: $defaultColor;
  border-left-color: transparent;

  border-style: solid;

  transform: translateZ(0);
  animation: load 1.1s infinite linear;

  @each $size in variables.$rothkoSizes {
    &--#{$size} {
      width: map-get($dimensionSizeMap, $size); // safe get?
      height: map-get($dimensionSizeMap, $size);
      border-width: map-get($borderWidthSizeMap, $size);
    }
  }

  @-webkit-keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes load {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
