@use './variables' as variables;

.popup {
  position: fixed;
  inset: auto 0 0 0;
  height: 0;

  overflow: hidden;

  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  background: variables.$bottomPopupBackground;
  padding: 3.25rem 1.5rem 1.5rem 1.5rem;

  will-change: transform, opacity, height;
  transition-property: transform;
  transition-timing-function: ease-out;
  user-select: text;
}

.popup__body {
  font-family: variables.$regularFont;
  color: variables.$bodyColor;
  font-size: variables.$bodyFontSize;
  line-height: variables.$bodyLineHeight;
}

.popup__close-button {
  position: absolute;
  top: 14px;
  right: 16px;
}
