@use './variables' as variables;
@use '../../styles/mixins' as mixins;
@use '../Typography/mixins' as typographyMixins;
@use '../../styles/placeholders';

.tab-list {
  // display: grid;
  // grid-template-columns: // repeat($ {({tabCount}) => tabCount}, 1fr);

  list-style: none;
  justify-content: space-between;

  margin: 0;
  // padding betweeb list and underline
  padding: 0.5rem 0;
  // tablet and mobile
  @media only screen and (max-width: 700px) {
    padding: 0.25rem 0;
  }

  & > li {
    @extend %ios-tap-highlight-color-transparent;
    width: 100%;
    // flex: 1;
  }
}

.tab-list__container {
  margin: 0.5rem 0;
}

.tab__underline {
  $borderWidthAndStyle: 3px solid;

  // width: ${({ tabCount }) => `${(100 / tabCount).toFixed(2)}%`};
  border-bottom: $borderWidthAndStyle variables.$tabBarBorder;

  @each $kind in variables.$rothkoKinds {
    &--#{$kind} {
      border-bottom: $borderWidthAndStyle variables.safeGetTheme($kind);
    }
  }

  border-radius: 50vmin;

  // transform: translateX(calc(100% * ${({ currentTabIdx }) => currentTabIdx}));
  transition: transform 0.2s ease-in;
}

.tab__item {
  @extend %ios-tap-highlight-color-transparent;
  @include typographyMixins.bodyStyle();

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  user-select: none;

  cursor: pointer;
}
