.phantom-button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  touch-action: manipulation;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  color: inherit;
}
