@use '../../styles/mixins' as mixins;
@use '../Typography/mixins' as typographyMixins;
@use './variables' as variables;
@use '../../styles/placeholders';

@mixin buttonPill {
  border-radius: 50vmin;
}

@mixin buttonSquare {
  border-radius: 0;
}

@mixin buttonFitContent {
  width: fit-content;
}

@mixin baseButtonStyle {
  @extend %ios-tap-highlight-color-transparent;
  @include typographyMixins.regularFontStyle();
  // Use font smoothing to make text more readable
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  appearance: none;
  // Prevent double tap zoom on mobile
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  overflow: hidden;

  border-radius: variables.$defaultBorderRadius;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}
