@use './variables' as variables;
@use './mixins' as mixins;

.button {
  @include mixins.baseButtonStyle();

  &--pill {
    @include mixins.buttonPill;
  }
  &--square {
    @include mixins.buttonSquare;
  }
  &--fit-content {
    @include mixins.buttonFitContent;
  }

  @each $size in variables.$rothkoSizes {
    &--#{$size} {
      @if map-has-key(variables.$paddingSizeMap, $size) {
        padding: map-get(variables.$paddingSizeMap, $size);
      }
      @if map-has-key(variables.$fontSizeMap, $size) {
        font-size: map-get(variables.$fontSizeMap, $size);
      }
      @if map-has-key(variables.$borderWidthSizeMap, $size) {
        border-width: map-get(variables.$borderWidthSizeMap, $size);
      }
    }
  }
}

@mixin themedButton($appearance, $kind) {
  $buttonTheme: variables.safeGetTheme($kind);
  $buttonThemeForeground: variables.safeGetThemeForeground($kind);
  $buttonThemeActive: var(--rothko-#{$kind}-400); // variables.safeGetTheme($kind, 400);

  background-color: if($appearance == 'outline', transparent, $buttonTheme);
  border: 1px solid $buttonTheme;
  color: if($appearance == 'outline', $buttonTheme, $buttonThemeForeground);

  transition: border-color 0.4s ease-out, background-color 0.4s ease-out;

  /**
   * hover is annoying and has bad UX on touch based machines
   * The element is still marked as "hover" after pressing and until
   * onBlur is called. Keep the same look for now (deactivate :hover)
    :hover {
    }
    :focus {
    }
   */
  &:active:not(:disabled) {
    background-color: if($appearance == 'outline', transparent, $buttonThemeActive);
    border-color: $buttonThemeActive;
  }
}

.button--outline {
  @each $kind in variables.$rothkoKinds {
    &--#{$kind} {
      @include themedButton('outline', $kind);
    }
  }
}

.button--filled {
  @each $kind in variables.$rothkoKinds {
    &--#{$kind} {
      @include themedButton('filled', $kind);
    }
  }
}

.button__accessory {
  display: flex;
  align-items: center;
}

.button__content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}
