@import '../../styles/themeMixins.scss';
@import '../Typography/Typography.module.scss';

$padding-size-map: (
  'xs': 0.3rem 0.5rem,
  's': 0.3rem 0.5rem,
  'm': 0.5rem 0.75rem,
  'l': 0.625rem 0.94rem,
);

$font-size-map: (
  'xs': 0.75rem,
  's': 0.85rem,
  'm': 1rem,
  'l': 1.25rem,
);

$border-width-size-map: (
  'l': 2px,
);

@mixin buttonStyle($appearance, $kind) {
  @include regularFontStyle();

  // Use font smoothing to make text more readable
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;

  // Prevent double tap zoom on mobile
  touch-action: manipulation;

  width: 100%;

  background: if($appearance == 'outline', transparent, kind($kind));
  color: if($appearance == 'outline', kind($kind), kindForeground($kind));

  display: inline-flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  cursor: pointer;
  user-select: none;

  outline: none;
  border: 1px solid kind($kind);

  @each $size in $ROTHKO_SIZES {
    &.btn-size-#{$size} {
      @if map-has-key($padding-size-map, $size) {
        padding: map-get($padding-size-map, $size);
      }
      @if map-has-key($font-size-map, $size) {
        font-size: map-get($font-size-map, $size);
      }
      @if map-has-key($border-width-size-map, $size) {
        border-width: map-get($border-width-size-map, $size);
      }
    }
  }

  border-radius: 0; // 0.125rem; default?

  &.btn-pill {
    border-radius: 50vmin;
  }

  &.btn-square {
    border-radius: 0;
  }

  &.fit-content {
    width: fit-content;
  }

  &:not(:disabled) {
    /**
     * hover is annoying and has bad UX on touch based machines
     * The element is still marked as "hover" after pressing and until
     * onBlur is called. Keep the same look for now (deactivate :hover)
      :hover {
    }
    */
    // :focus {
    // }
    &:active {
      background: if($appearance == 'outline', transparent, kind($kind, $scale: 400));
      border-color: kind($kind, $scale: 400);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}

.btn-accessory {
  display: flex;
  align-items: center;
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
}

.btn-outline-primary {
  @include buttonStyle('outline', 'primary');
}
.btn-outline-secondary {
  @include buttonStyle('outline', 'secondary');
}
.btn-outline-info {
  @include buttonStyle('outline', 'info');
}
.btn-outline-success {
  @include buttonStyle('outline', 'success');
}
.btn-outline-warning {
  @include buttonStyle('outline', 'warning');
}
.btn-outline-danger {
  @include buttonStyle('outline', 'danger');
}
.btn-filled-primary {
  @include buttonStyle('filled', 'primary');
}
.btn-filled-secondary {
  @include buttonStyle('filled', 'secondary');
}
.btn-filled-info {
  @include buttonStyle('filled', 'info');
}
.btn-filled-success {
  @include buttonStyle('filled', 'success');
}
.btn-filled-warning {
  @include buttonStyle('filled', 'warning');
}
.btn-filled-danger {
  @include buttonStyle('filled', 'danger');
}
