@font-face {
  font-family: 'LabGrotesque-Regular';
  src: url('/fonts/LabGrotesque/LabGrotesque-Regular.woff');
  font-display: swap;
}
@font-face {
  font-family: 'LabGrotesque-Italic';
  src: url('/fonts/LabGrotesque/LabGrotesque-Italic.woff');
  font-display: swap;
}
@font-face {
  font-family: 'LabGrotesque-Bold';
  src: url('/fonts/LabGrotesque/LabGrotesque-Bold.woff');
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: 'LabGrotesque-Light';
  src: url('/fonts/LabGrotesque/LabGrotesque-Light.woff');
  font-display: swap;
}
@font-face {
  font-family: 'Soehne-Buch';
  src: url('/fonts/Soehne/soehne-buch.woff2');
}
@font-face {
  font-family: 'Soehne-Halbfett';
  src: url('/fonts/Soehne/soehne-halbfett.woff2');
}
@font-face {
  font-family: 'Soehne-Mono-Buch';
  src: url('/fonts/Soehne/soehne-mono-buch.woff2');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root .dark {
  --demo-background: #000;
  --demo-nav-background: rgba(0, 0, 0, 0.75);
  background: #000;
}
.dark ::selection {
  background: #f81be5;
}
.dark ::-moz-selection {
  background: #f81be5;
}

:root .light {
  --demo-background: #fff;
  --demo-nav-background: rgba(255, 255, 255, 0.75);
  background: #fff;
}
.light ::selection {
  color: #fff;
  background: #000;
}
.light ::-moz-selection {
  color: #fff;
  background: #000;
}

.phantom-button {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  user-select: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}
