@forward '../../../../styles/variables';

$dropdownMultiselectBackground: var(--rothko-dropdown-multiselect-background, #fff);
$dropdownMultiselectForeground: var(--rothko-dropdown-multiselect-foreground, #000);
$dropdownMultiselectBorder: var(--rothko-dropdown-multiselect-border, #000);
