@use './variables' as variables;

.multi-select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.multi-select-label {
  display: flex;
  align-items: center;
  gap: 0.125rem;

  padding: 0.0625rem 0.3rem 0.0625rem 0.5rem;

  background-color: variables.$dropdownMultiselectBackground;
  border: 1px solid variables.$dropdownMultiselectBorder;

  border-radius: 3.25rem;
  cursor: default;

  & > p {
    margin: 0;
    user-select: none;
    color: variables.$dropdownMultiselectForeground;
  }
}

.nested-button-container {
  padding-left: 0.5rem;
  cursor: default;

  &.button-reverse {
    padding-bottom: 0.5rem;
    padding-top: 0.125rem;
  }

  &:not(.button-reverse) {
    padding-top: 0.5rem;
    padding-bottom: 0.125rem;
  }
}

.nested-dropdown-category-title {
  padding-left: 1rem;
  padding-right: 1rem;

  opacity: 0.75;
  cursor: default;

  &.title-reverse {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  &:not(.title-reverse) {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.nested-option-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-menu {
  max-height: 13rem;
  z-index: 10;
}
