@use './variables' as variables;

.multi-select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.multi-select-label {
  display: flex;
  align-items: center;
  gap: 0.125rem;

  padding: 0.0625rem 0.3rem 0.0625rem 0.5rem;

  background-color: variables.$dropdownMultiselectBackground;
  border: 1px solid variables.$dropdownMultiselectBorder;

  border-radius: 3.25rem;
  cursor: default;

  & > p {
    margin: 0;
    user-select: none;
    color: variables.$dropdownMultiselectForeground;
  }
}

.dropdown-menu {
  max-height: 13rem;
  z-index: 10;
}
