@forward '../../../styles/variables';

$modalForeground: var(--rothko-modal-foreground, #000);
$modalBackground: var(--rothko-background, #fff);
$modalBorderRadius: 0.125rem; // 2px

$modalPaddingSizeMap: (
  'xs': 2.75rem 1.125rem 1.5rem 1.125rem,
  's': 2.75rem 1.25rem 1.75rem 1.25rem,
  'm': 2.75rem 1.25rem 1.75rem 1.25rem,
  'l': 2.875rem 1.5rem 1.875rem 1.5rem,
);

$modalMaxWidthSizeMap: (
  'xs': 20rem,
  's': 22rem,
  'm': 32rem,
  'l': 43rem,
);

$modalHeaderMarginSizeMap: (
  'xs': 0 0 1.125rem 0,
  's': 0 0 1.25rem 0,
  'm': 0 0 1.75rem 0,
  'l': 0 0 1.75rem 0,
);

$modalHeaderLineHeightSizeMap: (
  'xs': 1.25rem,
  's': 1.8rem,
  'm': 1.875rem,
  'l': 1.875rem,
);

$modalHeaderFontSizeSizeMap: (
  'xs': 1rem,
  's': 1.5rem,
  'm': 1.75rem,
  'l': 1.875rem,
);
