@use '../../styles/mixins' as mixins;
@use './variabes' as variables;
@use '../../styles/placeholders';

.switch__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.switch__outer-circle {
  @extend %hide-chrome-browser-outline;
  @include mixins.iosTapHighlightColorTransparent;

  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  cursor: pointer;
  user-select: none;
  outline: none;

  width: 2.5rem;
  height: calc(1.25rem + 2px);

  border-radius: 50vmin;
  background-color: variables.$switchBackground;
  transition: background-color 0.5s ease;

  &.selected {
    background-color: variables.$switchSelectedBackground;
    @each $kind in variables.$rothkoKinds {
      &.#{$kind} {
        background-color: variables.safeGetTheme($kind);
      }
    }
  }

  &.error:not(:focus):not(.focus) {
    outline: 1px solid variables.safeGetTheme($kind: 'danger');
  }

  &.disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

.switch__inner-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 1.25rem;
  height: 1.25rem;
  margin: 0 1px;

  background-color: variables.$switchHandleBackground;
  border-radius: 50%;

  transition: transform 0.15s ease-in-out;

  &.selected {
    transform: translateX(calc(1.25rem - 2px));
  }
}
