.icons {
  display: grid;
  grid-template-columns: repeat(5, 160px); // repeat(5, 1fr);
  grid-template-rows: 120px;
  place-items: stretch;
  -webkit-box-align: stretch;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 1.125rem;

  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(5, 160px); // repeat(4, 1fr);
  }

  @media screen and (max-width: 1245px) {
    grid-template-columns: repeat(4, 180px); // repeat(3, 1fr);
    grid-template-rows: 150px;
  }

  @media screen and (max-width: 1098px) {
    gap: 0.75rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: unset;
  }

  @media screen and (max-width: 664px) {
    gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }

  @media screen and (max-width: 485px) {
    gap: 0.75rem;
    grid-template-columns: repeat(2, 210px);
    grid-template-rows: unset;
  }

  @media screen and (max-width: 475px) {
    gap: 0.75rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: unset;
  }

  @media screen and (max-width: 300px) {
    gap: 0.75rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: unset;
  }

  .icon {
    width: 100%;
    background: var(--rothko-box-background);
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      -webkit-tap-highlight-color: transparent;
      touch-action: manipulation;
      user-select: none;
      background: transparent;
      border: none;
      outline: none;
      padding: 2rem 1rem;
      cursor: pointer;
      z-index: 1;

      @media screen and (max-width: 1024px) {
        padding: 0.75rem 0.5rem;
      }
    }
  }
}
