.componentCard {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  row-gap: 3rem;

  // tablet
  @media screen and (max-width: 40rem) {
    row-gap: 3rem;
  }

  .bodySubtext {
    margin-top: 1rem;
  }
}

.propsContainer {
  margin-top: 1.5rem;

  @media screen and (max-width: 40rem) {
    margin-top: 1rem;
  }
}

.hashLinkableHeader {
  scroll-margin-top: 80px;

  & a {
    text-decoration: none;
  }

  & a::after {
    content: ''; /* This is necessary for the ::after pseudo-element */
  }

  & a:hover::after {
    opacity: 0.35;
    content: ' #'; /* Content to appear after the anchor text on hover */
  }
}
