@use './variables' as variables;

%hide-chrome-browser-outline {
  outline: none;
  :active,
  :focus {
    outline: none;
  }
}

%text-children-style {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6,
  & > p,
  & > span,
  & > code {
    color: variables.$rothkoForeground;
  }
  & > svg {
    fill: variables.$rothkoForeground;
  }
}
