$rothkoPrimary: var(--rothko-primary);
$rothkoPrmary100: var(--rothko-primary-100);
$rothkoPrmary200: var(--rothko-primary-200);
$rothkoPrmary300: var(--rothko-primary-300);
$rothkoPrmary400: var(--rothko-primary-400);
$rothkoPrmary500: var(--rothko-primary-500);
$rothkoPrmary600: var(--rothko-primary-600);
$rothkoPrmary700: var(--rothko-primary-700);
$rothkoPrmary800: var(--rothko-primary-800);
$rothkoPrmary900: var(--rothko-primary-900);

$rothkoSecondary: var(--rothko-secondary);
$rothkoSecondary100: var(--rothko-secondary-100);
$rothkoSecondary200: var(--rothko-secondary-200);
$rothkoSecondary300: var(--rothko-secondary-300);
$rothkoSecondary400: var(--rothko-secondary-400);
$rothkoSecondary500: var(--rothko-secondary-500);
$rothkoSecondary600: var(--rothko-secondary-600);
$rothkoSecondary700: var(--rothko-secondary-700);
$rothkoSecondary800: var(--rothko-secondary-800);
$rothkoSecondary900: var(--rothko-secondary-900);

$rothkoInfo: var(--rothko-info);
$rothkoInfo100: var(--rothko-info-100);
$rothkoInfo200: var(--rothko-info-200);
$rothkoInfo300: var(--rothko-info-300);
$rothkoInfo400: var(--rothko-info-400);
$rothkoInfo500: var(--rothko-info-500);
$rothkoInfo600: var(--rothko-info-600);
$rothkoInfo700: var(--rothko-info-700);
$rothkoInfo800: var(--rothko-info-800);
$rothkoInfo900: var(--rothko-info-900);

$rothkoSuccess: var(--rothko-success);
$rothkoSuccess100: var(--rothko-success-100);
$rothkoSuccess200: var(--rothko-success-200);
$rothkoSuccess300: var(--rothko-success-300);
$rothkoSuccess400: var(--rothko-success-400);
$rothkoSuccess500: var(--rothko-success-500);
$rothkoSuccess600: var(--rothko-success-600);
$rothkoSuccess700: var(--rothko-success-700);
$rothkoSuccess800: var(--rothko-success-800);
$rothkoSuccess900: var(--rothko-success-900);

$rothkoWarning: var(--rothko-warning);
$rothkoWarning100: var(--rothko-warning-100);
$rothkoWarning200: var(--rothko-warning-200);
$rothkoWarning300: var(--rothko-warning-300);
$rothkoWarning400: var(--rothko-warning-400);
$rothkoWarning500: var(--rothko-warning-500);
$rothkoWarning600: var(--rothko-warning-600);
$rothkoWarning700: var(--rothko-warning-700);
$rothkoWarning800: var(--rothko-warning-800);
$rothkoWarning900: var(--rothko-warning-900);

$rothkoDanger: var(--rothko-danger);
$rothkoDanger100: var(--rothko-danger-100);
$rothkoDanger200: var(--rothko-danger-200);
$rothkoDanger300: var(--rothko-danger-300);
$rothkoDanger400: var(--rothko-danger-400);
$rothkoDanger500: var(--rothko-danger-500);
$rothkoDanger600: var(--rothko-danger-600);
$rothkoDanger700: var(--rothko-danger-700);
$rothkoDanger800: var(--rothko-danger-800);
$rothkoDanger900: var(--rothko-danger-900);

$rothkoPrimaryForeground: var(--rothko-primary-foreground);
$rothkoSecondaryForeground: var(--rothko-secondary-foreground);
$rothkoInfoForeground: var(--rothko-info-foreground);
$rothkoSuccessForeground: var(--rothko-success-foreground);
$rothkoWarningForeground: var(--rothko-warning-foreground);
$rothkoDangerForeground: var(--rothko-danger-foreground);

$rothkoKinds: ('primary', 'secondary', 'info', 'success', 'warning', 'danger');
$rothkoSizes: ('xs', 's', 'm', 'l');

$rothkoBackground: var(--rothko-background, #fff);

$rothkoTheme: (
  'primary': $rothkoPrimary,
  'secondary': $rothkoSecondary,
  'info': $rothkoInfo,
  'success': $rothkoSuccess,
  'warning': $rothkoWarning,
  'danger': $rothkoDanger,
);

$rothkoThemeScaled: (
  'primary': (
    '100': $rothkoPrmary100,
    '200': $rothkoPrmary200,
    '300': $rothkoPrmary300,
    '400': $rothkoPrmary400,
    '500': $rothkoPrmary500,
    '600': $rothkoPrmary600,
    '700': $rothkoPrmary700,
    '800': $rothkoPrmary800,
    '900': $rothkoPrmary900,
  ),
  'secondary': (
    '100': $rothkoSecondary100,
    '200': $rothkoSecondary200,
    '300': $rothkoSecondary300,
    '400': $rothkoSecondary400,
    '500': $rothkoSecondary500,
    '600': $rothkoSecondary600,
    '700': $rothkoSecondary700,
    '800': $rothkoSecondary800,
    '900': $rothkoSecondary900,
  ),
  'info': (
    '100': $rothkoInfo100,
    '200': $rothkoInfo200,
    '300': $rothkoInfo300,
    '400': $rothkoInfo400,
    '500': $rothkoInfo500,
    '600': $rothkoInfo600,
    '700': $rothkoInfo700,
    '800': $rothkoInfo800,
    '900': $rothkoInfo900,
  ),
  'success': (
    '100': $rothkoSuccess100,
    '200': $rothkoSuccess200,
    '300': $rothkoSuccess300,
    '400': $rothkoSuccess400,
    '500': $rothkoSuccess500,
    '600': $rothkoSuccess600,
    '700': $rothkoSuccess700,
    '800': $rothkoSuccess800,
    '900': $rothkoSuccess900,
  ),
  'warning': (
    '100': $rothkoWarning100,
    '200': $rothkoWarning200,
    '300': $rothkoWarning300,
    '400': $rothkoWarning400,
    '500': $rothkoWarning500,
    '600': $rothkoWarning600,
    '700': $rothkoWarning700,
    '800': $rothkoWarning800,
    '900': $rothkoWarning900,
  ),
  'danger': (
    '100': $rothkoDanger100,
    '200': $rothkoDanger200,
    '300': $rothkoDanger300,
    '400': $rothkoDanger400,
    '500': $rothkoDanger500,
    '600': $rothkoDanger600,
    '700': $rothkoDanger700,
    '800': $rothkoDanger800,
    '900': $rothkoDanger900,
  ),
);

$rothkoThemeForeground: (
  'primary': $rothkoPrimaryForeground,
  'secondary': $rothkoSecondaryForeground,
  'info': $rothkoInfoForeground,
  'success': $rothkoSuccessForeground,
  'warning': $rothkoWarningForeground,
  'danger': $rothkoDangerForeground,
);

@function safeGetTheme($kind, $scale: null) {
  @if $scale == null {
    @if (map-has-key($map: $rothkoTheme, $key: $kind)) {
      @return map-get($map: $rothkoTheme, $key: $kind);
    } @else {
      @error 'No theme found for #{$kind}';
    }
  }

  @if (map-has-key($map: $rothkoThemeScaled, $key: $kind)) {
    $theme: map-get(
      $map: $rothkoThemeScaled,
      $key: $kind,
    );
    @return map-get($map: $theme, $key: $scale);
  } @else {
    @error 'No theme found for #{$kind}';
  }
}

@function safeGetThemeForeground($kind) {
  @if (map-has-key($map: $rothkoThemeForeground, $key: $kind)) {
    @return map-get($map: $rothkoThemeForeground, $key: $kind);
  } @else {
    @error 'No foreground theme found for #{$kind}';
  }
}
