@font-face {
  font-family: 'LabGrotesque-Regular';
  src: url('/fonts/LabGrotesque/LabGrotesque-Regular.woff');
  font-display: swap;
}
@font-face {
  font-family: 'LabGrotesque-Italic';
  src: url('/fonts/LabGrotesque/LabGrotesque-Italic.woff');
  font-display: swap;
}
@font-face {
  font-family: 'LabGrotesque-Bold';
  src: url('/fonts/LabGrotesque/LabGrotesque-Bold.woff');
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: 'LabGrotesque-Light';
  src: url('/fonts/LabGrotesque/LabGrotesque-Light.woff');
  font-display: swap;
}
@font-face {
  font-family: 'Soehne-Buch';
  font-display: swap;
  src: url('/fonts/Soehne/soehne-buch.woff2');
}
@font-face {
  font-family: 'Soehne-Halbfett';
  font-display: swap;
  src: url('/fonts/Soehne/soehne-halbfett.woff2');
}
@font-face {
  font-family: 'Soehne-Mono-Buch';
  font-display: swap;
  src: url('/fonts/Soehne/soehne-mono-buch.woff2');
}
