@use '../Typography/mixins' as typographyMixins;
@use '../../styles/mixins' as mixins;
@use '../../styles/placeholders';

.autocomplete__phantom-input {
  @extend %hide-chrome-browser-outline;

  @include mixins.iosTapHighlightColorTransparent;
  @include typographyMixins.bodyStyle();

  appearance: none;
  background: none;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}
