@use '../../../../styles/mixins' as mixins;
@use './placeholders';

@mixin phantomButtonStyle() {
  -webkit-tap-highlight-color: transparent;
  // prevent double tap zoom on mobile
  touch-action: manipulation;
  user-select: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;

  &:disabled {
    @extend %button-disabled;
  }
}
