@use '../../../../styles/mixins' as mixins;

%button-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

%phantom-button-style {
  @include mixins.iosTapHighlightColorTransparent;
  user-select: none;
  // prevent double tap zoom on mobile
  touch-action: manipulation;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:disabled {
    @extend %button-disabled;
  }
}
