@use '../../styles/mixins' as mixins;
@use './placeholders';

@mixin phantomButtonStyle() {
  @include mixins.iosTapHighlightColorTransparent;
  @include mixins.userSelectNone;
  // use font smoothing to make text/svgs clearer
  -webkit-font-smoothing: antialiased;
  // prevent double tap zoom on mobile
  touch-action: manipulation;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;

  &.display-flex {
    display: flex;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.phantom-button {
  @extend %phantom-button-style;
  &.flex {
    display: flex;
  }
}

.back-button {
  @include mixins.iosTapHighlightColorTransparent;
  display: inline-flex;
  align-items: center;
}
