@use './variables' as variables;
@use './mixins' as mixins;

.typography {
  margin: 0.125rem 0;

  & > strong,
  &--bold {
    @include mixins.boldFontStyle;
  }

  & > i,
  &--italic {
    @include mixins.italicFontStyle;
  }

  &--light {
    @include mixins.lightFontStyle;
  }

  &--danger {
    color: variables.$rothkoDanger;
  }

  @each $kind in variables.$rothkoKinds {
    &--#{$kind} {
      // get text version of this?
      color: variables.safeGetTheme($kind);
    }
  }
}

.typography__paragraph {
  @include mixins.baseParagraphStyle;
  color: variables.$bodyColor;
  font-size: variables.$bodyFontSize;
  line-height: variables.$bodyLineHeight;

  &__xs {
    font-size: variables.$bodyXSmallFontSize;
    line-height: variables.$bodyXSmallLineHeight;
  }

  &__s {
    font-size: variables.$bodySmallFontSize;
    line-height: variables.$bodySmallLineHeight;
  }

  &__m {
    // default same as base class
    font-size: variables.$bodyFontSize;
    line-height: variables.$bodyLineHeight;
  }

  &__l {
    font-size: variables.$bodyLargeFontSize;
    line-height: variables.$bodyLargeLineHeight;
  }
}

.typography__label {
  @include mixins.baseParagraphStyle;
  color: variables.$bodyColor;
  font-size: variables.$bodyXSmallFontSize;
  line-height: variables.$bodyXSmallLineHeight;

  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.typography__heading {
  @include mixins.baseHeadingStyle;
  color: variables.$headingColor;

  &__h1 {
    font-size: variables.$h1FontSize;
    line-height: variables.$h1LineHeight;
  }

  &__h2 {
    font-size: variables.$h2FontSize;
    line-height: variables.$h2LineHeight;
  }

  &__h3 {
    font-size: variables.$h3FontSize;
    line-height: variables.$h3LineHeight;
  }

  &__h4 {
    font-size: variables.$h4FontSize;
    line-height: variables.$h4LineHeight;
  }

  &__h5 {
    font-size: variables.$h5FontSize;
    line-height: variables.$h5LineHeight;
  }

  &__h6 {
    font-size: variables.$h6FontSize;
    line-height: variables.$h6LineHeight;
  }
}

.typography__code {
  @include mixins.baseCodeStyle;
  color: variables.$codeColor;
  font-size: variables.$codeFontSize;
  line-height: variables.$codeLineHeight;

  white-space: pre-wrap;
  padding: 0.125rem 0.25rem;
  background-color: rgba(153, 161, 179, 0.1);
  border-radius: 0.375rem;
}
