@use './mixins' as mixins;

.input {
  @include mixins.inputStyle();
  @include mixins.withSizes();
}

.textarea {
  @include mixins.inputStyle();
  @include mixins.withSizes();
  display: block;
  height: 8rem;
  min-height: 6rem;
  max-height: 16rem;
  resize: vertical;
}
