.app-container {
  background-color: #282c34;
  padding: 1rem;
  height: 100%;
}

.app-logo {
  width: 4rem;
  height: 4rem;
}

.app-header {
  font-size: 1rem;
  font-family: menlo;
  color: white;
}

.example-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0;
}

.white-padded-card {
  background-color: white;
  padding: 0.25rem 0.75rem;
  flex-grow: 1;
}

.accordion-container {
  padding: 0.5rem;
}
