html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: rgb(153 161 179 / 0.1);
  border-radius: 0.375rem;
  /* this is a nice color #582cff (secondary dark theme?) */
}

:root .dark code {
  color: var(--rothko-secondary-500, #5327fb);
}

:root .light code {
  color: #5327fb;
}

* {
  box-sizing: border-box;
}

:root .dark {
  --demo-background: #000;
  --demo-nav-background: rgba(0, 0, 0, 0.75);
  background: #000;
}
.dark ::selection {
  background: #f81be5;
}
.dark ::-moz-selection {
  background: #f81be5;
}

:root .light {
  --demo-background: #fff;
  --demo-nav-background: rgba(255, 255, 255, 0.75);
  background: #fff;
}
.light ::selection {
  color: #fff;
  background: #000;
}
.light ::-moz-selection {
  color: #fff;
  background: #000;
}

.phantom-button {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  user-select: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}
