@import '../../node_modules/@rothko-ui/tokens/build/dark-variables.css';
@import '../../node_modules/@rothko-ui/tokens/build/light-variables.css';
@import '../../node_modules/@rothko-ui/tokens/build/global-variables.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --rothko-font-family-regular: 'Soehne-Buch', system-ui, -apple-system, 'Helvetica Neue', Arial,
    sans-serif;
  --rothko-font-family-bold: 'LabGrotesque-Bold';
  --rothko-font-family-italic: 'LabGrotesque-Italic';
  --rothko-font-family-light: 'LabGrotesque-Light';
  --rothko-font-family-heading: 'LabGrotesque-Regular';
  --rothko-font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --demo-background: #fff;
  --demo-nav-background: rgba(255, 255, 255, 0.75);
  background: #fff;
  color-scheme: light;
}

:root ::selection {
  color: #fff;
  background: #000;
}
:root ::-moz-selection {
  color: #fff;
  background: #000;
}

:root .dark {
  --demo-background: #000;
  --demo-nav-background: rgba(0, 0, 0, 0.75);
  background: #000;
  color-scheme: dark;
}

:root .dark :not(code) ::selection {
  background: #f81be5;
}
:root .dark :not(code) ::-moz-selection {
  background: #f81be5;
}

.phantom-button {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
  user-select: none;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}
