@use '../../../styles/mixins' as mixins;
@use '../../../styles/placeholders';
@use '../../../styles/variables' as variables;

$autoCompleteDropdownMaxHeight: var(--rothko-autocomplete-dropdown-max-height, 13rem);

.dropdown-menu {
  max-height: 13rem;
  z-index: 10;
}

.autocomplete__phantom-input {
  @extend %hide-chrome-browser-outline;
  @include mixins.iosTapHighlightColorTransparent;

  font-family: variables.$regularFont;
  color: variables.$bodyColor;
  font-size: variables.$bodyFontSize;
  line-height: variables.$bodyLineHeight;

  appearance: none;
  background: none;
  border: none;
  outline: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;

  &:disabled {
    pointer-events: none;
    cursor: not-allowed;
  }
}
