.componentCard {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
  row-gap: 3.5rem;

  .bodySubtext {
    margin-top: 1rem;
  }
}

.propsContainer {
  margin-top: 1.5rem;

  @media screen and (max-width: 40rem) {
    margin-top: 1rem;
  }
}
