@forward '../../../../../styles/variables';

$sliderHandleSize: 1.125rem;
$sliderBorderRadius: 0.25rem;
$sliderTrackHeight: 0.5rem;
$sliderHandleBackground: var(--rothko-slider-handle-background, #ebf2fb);
$sliderHandleBorder: var(--rothko-slider-handle-border, #dee7f5);
$sliderRangeBackground: var(--rothko-slider-range-background, #3e4e94);
$sliderTrackBackground: var(--rothko-slider-track-background, #000);
