@use '../../styles/variables' as variables;
@use '../../styles/mixins' as mixins;

@each $kind in variables.$rothkoKinds {
  .alert--#{$kind} {
    $alertTheme: variables.safeGetTheme($kind);
    $alertThemeForeground: variables.safeGetThemeForeground($kind);

    --alert-theme: #{$alertTheme};
    --alert-theme-foreground: #{$alertThemeForeground};
  }
}

.alert {
  --alert-text-color: #000;
  $alertTextColor: var(--alert-text-color);

  @include mixins.textChildrenColor($color: $alertTextColor);

  padding: 1rem 1.25rem;
  font-size: 1rem; // import font size variable

  &--filled {
    --alert-text-color: var(--alert-theme-foreground);
    background: var(--alert-theme);
  }

  &--outline {
    --alert-text-color: var(--alert-theme);
    border: 1px solid var(--alert-theme);
  }
}
