$blurRadius: 6px;

.shaded-backdrop {
  backface-visibility: hidden;
  // shade the entire view in the background
  user-select: none;
  position: fixed;
  display: flex;
  opacity: 0;

  &.show {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;
    z-index: 999999;
    transition: opacity 80ms ease-in-out;
    &.blur {
      backdrop-filter: blur($blurRadius);
    }
    &.padding-h {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &.padding-v {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
}
